<div class="card-deck">
  <div class="card">
    <img class="card-img-top"
         src="https://res.cloudinary.com/hellofresh/image/upload/f_auto,fl_lossy,h_436,q_auto/v1/hellofresh_s3/image/5b3e104aae08b53d3e0fa0a2-d75f9cbe.jpg"
         alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Fajitas mexicanas</h5>
      <p class="card-text">This is a longer.</p>
      <p class="card-text">
        <small class="text-muted">Last updated 3 mins ago</small>
      </p>
    </div>
    <div class="card-footer" style="color: #6c757d">
      <div class="row">
        <div class="col-10">
          <i class="icon-user"> 5</i>
          <div style="border-right: #6c757d solid 1px; display: inline; margin: 0 10px"></div>
          <i class="icon-clock"> 50 min</i>
        </div>
        <div class="col-sm text-right">
          <i class="icon-heart"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top"
         src="https://res.cloudinary.com/hellofresh/image/upload/f_auto,fl_lossy,h_436,q_auto/v1/hellofresh_s3/image/5b3e108cae08b53dc136c3d2-aebd7b30.jpg"
         alt="Card image cap">
    <div class="card-body">
      <span class="badge badge-danger">Rápido</span>
      <h5 class="card-title">Hamburguesa de tofu con anacardos</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text">
        <small class="text-muted">Last updated 3 mins ago</small>
      </p>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-10">
          <i class="icon-user"> 5</i>
          <div style="border-right: #6c757d solid 1px; display: inline; margin: 0 10px"></div>
          <i class="icon-clock"> 50 min</i>
        </div>
        <div class="col-sm text-right">
          <i class="icon-heart"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top"
         src="https://res.cloudinary.com/hellofresh/image/upload/f_auto,fl_lossy,h_436,q_auto/v1/hellofresh_s3/image/5b3e10b930006c23fb578482-33ce4cf8.jpg"
         alt="Card image cap">
    <div class="card-body">
      <span class="badge badge-success">Vegano</span>
      <span class="badge badge-warning">Japonés</span>
      <h5 class="card-title">Solomillo de cerdo con esparragos y papas</h5>
      <p class="card-text">Solomillo de cerdo ibérico marinado con pimienta con acompañamiento de espárragos y papas
        horneadas. Perfecto para deslumbrar una cena con los amigos.</p>
      <p class="card-text">
        <small class="text-muted">Last updated 3 mins ago</small>
      </p>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-10">
          <small class="text-muted"><i class="icon-user"> 5</i></small>
          <div style="border-right: #6c757d solid 1px; display: inline; margin: 0 10px"></div>
          <small class="text-muted"><i class="icon-clock"> 50 min</i></small>
          <div style="border-right: #6c757d solid 1px; display: inline; margin: 0 10px"></div>
          <small class="text-muted"><i class="icon-star"> 4.1</i></small>
        </div>
        <div class="col-sm text-right">
          <small class="text-muted"><i class="icon-heart"></i></small>
        </div>
      </div>
    </div>
  </div>
</div>
