<nav>
  <div class="sidebar-sticky">
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 text-muted">
      <span>Categorías</span>
    </h6>
    <ul class="nav flex-column">
      <li class="nav-item">
        <i class="icon icon-meat"></i>
        <a class="nav-link active" href="#">
          Carnes <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <i class="icon icon-fish"></i>
        <a class="nav-link" href="#">
          Pescados
        </a>
      </li>
      <li class="nav-item">
        <i class="icon icon-vegetable"></i>
        <a class="nav-link" href="#">
          Verduras
        </a>
      </li>
      <li class="nav-item">
        <i class="icon icon-dessert"></i>
        <a class="nav-link" href="#">
          Postres
        </a>
      </li>
      <li class="nav-item">
        <i class="icon icon-snack"></i>
        <a class="nav-link" href="#">
          Entrantes
        </a>
      </li>
      <li class="nav-item">
        <i class="icon icon-pasta"></i>
        <a class="nav-link" href="#">
          Pasta
        </a>
      </li>
      <li class="nav-item">
        <i class="icon icon-rice"></i>
        <a class="nav-link" href="#">
          Arroz
        </a>
      </li>
      <li class="nav-item">
        <i class="icon icon-chicken"></i>
        <a class="nav-link" href="#">
          Aves
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Mi cuenta</span>
      <a class="d-flex align-items-center text-muted" href="#">
      </a>
    </h6>
    <!--<ul class="nav flex-column mb-2">-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">-->
          <!--Current month-->
        <!--</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">-->
          <!--Last quarter-->
        <!--</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">-->
          <!--Social engagement-->
        <!--</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">-->
          <!--Year-end sale-->
        <!--</a>-->
      <!--</li>-->
    <!--</ul>-->
  </div>
</nav>
