@media (min-width: 992px) {
  .sidebar {
    height: calc(100vh - 59px);
    padding-top: 1.5rem;
  }
}

.card-footer {
  color: #6c757d;
}

.vr {
  border-right: #6c757d solid 1px;
  display: inline;
  margin: 0 10px;
}
